/* index */
* {
  padding: 0;
  margin: 0;
}

.tinyimgdiv
{
  display: inline-block;
  width:70%;
  margin-left:5px;
}
.tinyimgdiv img
{
  width: 50px;
  height:50px;
  border-radius: 50%;
  object-fit: cover;
  float:left;
}
.hellop
{
  display: inline-block;
  padding-top: 13px;
  margin-left: 10px;
}
.hellop a
{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.like
{
  margin-left:10px;
}

.nav-wall {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background-color: rgba(245, 245, 245, 1)
}

.block-wall {
  border: 1px solid;
  border-color: grey;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.container-wall {
  padding-top: 100px;
  font-size: 20px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgba(245, 245, 245, 1); */
  /* align-items: center; */
}

.friend-wall {
  text-align: center;
  /* background-color: blue; */
  margin-top: 60px;
  margin-right: 200px;
  /* width: 600px; */
}

.image-wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  flex-grow: 1;
}

.photo-wall img {
  width: 600px;
  object-fit: cover;
}

.photo-wall-p
{
  margin-left:10px;
}
/* show_page */


.wrapper-show {
  width: 100%;
}

.container-show {
  /* margin-top: 50px; */
  /* max-width: 900px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 1)
}

.nav-show {
  /* position: fixed; */
  position: fixed;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid;
  /* height: 60px; */
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
}
.name-one
{
  font-size: 26px;

  padding-bottom: 10px;
}

.info-show {
  padding-top: 100px;
  padding-bottom: 19px;
  min-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid;
}

.follow-count {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-show {
  display: flex;
  flex-direction: row;
  max-width: 770px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.each-image:hover {

  transform: scale(1.1);
}

.each-image img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  flex: 1 1 150px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* photo show */
.container-one {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-one img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.pp img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.button_to input {
  margin-bottom: 10px;
  height: 30px;
  width: 100px;
  background-color: #ACCEDE;
}

.button_to {
  margin-bottom: 15px;
}
